
<%= form_for @user do |f| %>
    <ul>
        
        <li><%= f.label :first_name %></li>
        <li><%= f.text_field :first_name, value: @user.first_name %></li>

        <li><%= f.label :last_name %></li>
        <li><%= f.text_field :last_name, value: @user.last_name %></li>
    
        <li><%= f.label :username %></li>
        <li><%= f.text_field :username, value: @user.username %></li>

        <li><%= f.label :email %></li>
        <li><%= f.text_field :email, value: @user.email %></li>

        <li><%= f.label :password %></li>
        <li><%= f.text_field :password, value: @user.password %></li>

        <%= f.label :user_id %></li>
        <li><%= f.number_field :user_id, value: @user.user_id %></li>
    
        <%= f.button :submit, 'Save', class: 'submit' %>
        <% end %>
    </ul>


    <%= link_to 'Delete', user_path(@user), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>