<div class="main">
    <h6>Welcome, <%= current_user.first_name %></h6>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <div class="jumbotron">
        <div class="col-sm-4">
            <h4><%= link_to "Private Chats", private_chat_rooms_path %></h4>

        </div>
        <div class="col-sm-6">
            <h5>Requests</h5>
            <table>
                <% @connections.each do |connection| %>
                <tr>
                    <% name = User.find(connection.user_id).username %>
                    <td><%= name %></td>
                        <td><%= bootstrap_form_for(connection) do |f| %>
                            <%= f.select :state, ["accept", "reject"] %>
                            <%= f.hidden_field :user_id, :value => connection.user_id %>
                            <%= f.hidden_field :other_user_id, :value => current_user.id %>
                            <%= f.submit "Submit" %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>

        <div class="col-sm-6">
            <h5>Requested</h5>
            <table>
                <% @requests.each do |request| %>
                <tr>
                    <% name = User.find(request.other_user_id).username %>
                    <td><%= name %></td>
                    <td><%= request.state %></td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h6>Start a conversation</h6>
            <%= bootstrap_form_for(@connection_request) do |f| %>
                <%= f.collection_select :other_user_id, @users, :id, :username, prompt: true %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :state, :value => "pending" %>
                <div class="form-buttons">
                    <%= f.submit "Request User" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Question Board</h4>

            <p class="lead"><%= link_to 'Ask New Question', new_chat_room_path, class: 'btn btn-primary' %> </p>

            <table>
                <%= render @chat_rooms %>
            </table>
        </div>

    </div>

</div>
