
<div class="container-fluid profile_container">
    <div class="user_info">
        <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100"><%# Click to Enlarge %></a>
        <ul>
            <li class="real_name"><%= @user.first_name %> <%= @user.last_name %></li>
            <li class="username"><%= @user.username %></li>
            <li>
                <% matched_interests(@user.profile_interest, @results) %>
                <% @user_interests.each do |interest| %>
                    <%= "#{interest} /" %>
                <% end %>
            </li>
        </ul>
    </div>
<%= render "other_profile/modal" %>

    <div class="suggestions">
        <ul>
            <% @matches.each do |match| %>
                <li>
                    <div class="user_info">
                    <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100"><%# Click to Enlarge %></a>
                    </div>

                   <% other_user = User.find(match.user_id) %>

                    <%= link_to "#{other_user.username}", users_show_path(id: other_user.id), remote: true, :class => 'btn btn-sm btn-secondary' %>
                    <br>
                    <div>
                    <% other_user.profile_interest.attributes.each do |interest, value| %>
                        <% if interest != "mentor" && interest != "mentee" %>
                            <%= "#{interest} /" if value == true %>
                        <% end %>
                    <% end %>
                    </div>
                    <div><% if @user.profile_interest[:mentee] && can_score?(other_user.id) %>
                    <button class="ranking_btn" value="1">Like</button>
                    <button class="ranking_btn" value="0">Dislike</button>
                    <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
