<h1>This is a user's Profile!</h1>

<div>
    <ul>
        
        <% @mentor.each do |mentor| %>
            <div class="user_info">
                <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100">
                <%#= Click to Enlarge %>
                </a>
            </div>
      
            <div>Name: <% @cu = User.find( mentor.user_id) %>
                <%= @cu.first_name %>
            </div>
            <div>Mentor ID: <%= mentor.user_id %></div>
           
            <br>
            <div> <% @user.profile_interest.attributes.each do |interest, value| %> 
            <%= "#{interest}" if value == true %></div>
            <% end %>
           
        <% end %>
        
        <% @mentee.each do |mentee| %>
            <div class="user_info">
                <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100">
                <%#= Click to Enlarge %>
                </a>
            </div>
      
            <div>Name: <% @cu = User.find( mentee.user_id) %>
            <%= @cu.first_name %>
            </div>
            <div>Mentee ID: <%= mentee.user_id %></div>
           
            <br>
            <div> <% @user.profile_interest.attributes.each do |interest, value| %> 
            <%= "#{interest}" if value == true %></div>
            <% end %>
           
        <% end %>
    </ul>
</div>