
<form>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">User Name</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">User ID</th>
</form>


<form>
    <% @profile.each do |profile| %>
        <%= profile.first_name %>
        <a class="nav-link" href="/users/<%= user.id %>">
        <%= profile.last_name %></a>
        <%= profile.username %>
        <%= profile.email %>
        <%= profile.password %>
        <%= profile.user_id %> 

        <%= link_to "Edit", edit_profile_path(profile) %>
        <div id="profile-<%= profile.id %>"><%= link_to "Delete", instructor_path(instructor), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
</form>


