    
<div class="container registration_container">
    <div class="registration_prompt">
        <h2>Register Your Account</h2>
        <img id="sun_plant" src="/assets/sun_plant.png" alt="plant with sun">
    </div>
    <div class="registration_form">
        <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
            <%= f.text_field :last_name, autocomplete: "last name" %>
            <%= f.text_field :username, autocomplete: "username" %>


            <%= f.email_field :email, autocomplete: "email" %>
            <%= f.password_field :password, autocomplete: "off" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        
            <%= f.submit "Register", :class => "register btn-sm btn-success" %>
        <% end %>
        
        <div class="devise_shared_links">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
